:root {
    --correct: #71dc00;
    --wrong: #ffc400;
    --not-present: #565656;
}

footer {
    @apply pt-10;
}

footer .feedback {
    @apply text-center;
}

footer .footer {
    @apply flex justify-between items-center pt-3 pb-2 px-3;
}

footer .dev-link {
    @apply underline text-blue-500 hover:text-blue-700 visited:text-blue-900;
}

.btn {
    background: cornflowerblue;
    @apply rounded px-2 py-1;
}

p {
    @apply py-2;
}

.word-guesses .word {
    @apply flex justify-center py-1;
}

.word-guesses .word .letter {
    width: 2rem;
    height: 2rem;
    text-transform: uppercase;
    @apply border-solid border-black border text-center mx-0.5;
}

.word-guesses .word .letter.correct {
    background: var(--correct);
}

.word-guesses .word .letter.wrong {
    background: var(--wrong);
}

.keyboard {
    @apply pt-4;
}

.keyboard .row {
    @apply flex justify-center py-1;
}

.keyboard .row button {
    height: 2rem;
    width: 1.5rem;
    background: #b6b6b6;
    text-transform: uppercase;
    @apply text-center mx-0.5;
}

.keyboard .row button.correct {
    background: var(--correct);
}

.keyboard .row button.wrong {
    background: var(--wrong);
}

.keyboard .row button.not-present {
    background: var(--not-present);
}

.keyboard .row button.action {
    height: 2rem;
    width: 2.5rem;
    text-transform: capitalize;
}
